html, body {
  background-color: #fffdf7;
  color: #0a2342;

  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
}

body {
  font-weight: 400;
  line-height: 1.45;
  margin-left: 2rem;
  margin-right: 2rem;
}

p {
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1rem;
  font-weight: 400;
  line-height: 1.25;
}

h1 {
  margin-top: 5rem;
  font-size: 7rem;
}

h2 {
  margin-top: 5rem;
}

h2 {font-size: 2.441rem;}
h3 {font-size: 1.953rem;}
h4 {font-size: 1.563rem;}
h5 {font-size: 1.25rem;}
small, .text_small {font-size: 0.8rem;}

a {
  color: #de3c4b;
}

ul {
  line-height: 1.7;
  list-style: none;
  padding-left: 0;
  font-size: 2.5rem;
}

section {
  display: flex;
  justify-content: space-between;
  flex-flow: column;

  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  font-size: 2.5rem;
}

.disabled {
  cursor: not-allowed;
}

.avatar {
  margin-top: 2rem;
  border-radius: 100%;
  width: 15rem;
}

.icon {
  width: 3rem;
  margin-right: 1rem;
}

#main aside {
  margin-top: 3rem;
}

.social {
  width: 6rem;
  margin-right: 0.7rem;
  fill: #2ca58d;
}

@media screen and (min-width: 40rem) and (orientation: landscape) {
  body {
    max-width: 40rem;
  }
  html {
    display: flex;
    justify-content: space-around;
  }
  .two-column {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row-reverse;
  }
  h1 {
    font-size: 3rem;
  }
  .avatar {
    width: 8rem;
  }
  .social {
    width: 2.5rem;
  }
  .icon {
    width: 1.2rem;
  }
  #main aside {
    margin-top: 1.5rem;
  }
  nav, p, ul {
    font-size: 1rem;
  }
}
